# Environment
NODE_ENV=development

# URLs
NEXT_PUBLIC_BASE_URL=http://localhost:3001
API_BASE_URL=http://localhost:8080

# Map
NEXT_PUBLIC_MAP_STYLE=/map/style.json

# Currency
NEXT_PUBLIC_DEFAULT_CURRENCY=RUB
